<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.along.dispatch.master.infra.mapper.WorkflowScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.hand.along.dispatch.master.domain.WorkflowSchedule" >
    <id column="schedule_id" property="scheduleId" jdbcType="BIGINT" />
    <result column="workflow_id" property="workflowId" jdbcType="BIGINT" />
    <result column="workflow_name" property="workflowName" jdbcType="VARCHAR" />
    <result column="workflow_code" property="workflowCode" jdbcType="VARCHAR" />
    <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
    <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="BIGINT" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="BIGINT" />
    <result column="object_version_number" property="objectVersionNumber" jdbcType="BIGINT" />
    <result column="tenant_id" property="tenantId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    schedule_id, workflow_id, workflow_name, workflow_code, cron_expression, creation_date, 
    last_update_date, created_by, last_updated_by, object_version_number, tenant_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hand.along.dispatch.master.domain.WorkflowScheduleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from workflow_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from workflow_schedule
    where schedule_id = #{scheduleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from workflow_schedule
    where schedule_id = #{scheduleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hand.along.dispatch.master.domain.WorkflowScheduleExample" >
    delete from workflow_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hand.along.dispatch.master.domain.WorkflowSchedule"
          useGeneratedKeys="true" keyProperty="scheduleId">
    insert into workflow_schedule (workflow_id, workflow_name,
      workflow_code, cron_expression, creation_date, 
      last_update_date, created_by, last_updated_by, 
      object_version_number, tenant_id)
    values (#{workflowId,jdbcType=BIGINT}, #{workflowName,jdbcType=VARCHAR},
      #{workflowCode,jdbcType=VARCHAR}, #{cronExpression,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}, #{lastUpdatedBy,jdbcType=BIGINT}, 
      #{objectVersionNumber,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hand.along.dispatch.master.domain.WorkflowSchedule"
          useGeneratedKeys="true" keyProperty="scheduleId">
    insert into workflow_schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workflowId != null" >
        workflow_id,
      </if>
      <if test="workflowName != null" >
        workflow_name,
      </if>
      <if test="workflowCode != null" >
        workflow_code,
      </if>
      <if test="cronExpression != null" >
        cron_expression,
      </if>
      <if test="creationDate != null" >
        creation_date,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="objectVersionNumber != null" >
        object_version_number,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workflowId != null" >
        #{workflowId,jdbcType=BIGINT},
      </if>
      <if test="workflowName != null" >
        #{workflowName,jdbcType=VARCHAR},
      </if>
      <if test="workflowCode != null" >
        #{workflowCode,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=BIGINT},
      </if>
      <if test="objectVersionNumber != null" >
        #{objectVersionNumber,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hand.along.dispatch.master.domain.WorkflowScheduleExample" resultType="java.lang.Integer" >
    select count(*) from workflow_schedule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update workflow_schedule
    <set >
      <if test="record.scheduleId != null" >
        schedule_id = #{record.scheduleId,jdbcType=BIGINT},
      </if>
      <if test="record.workflowId != null" >
        workflow_id = #{record.workflowId,jdbcType=BIGINT},
      </if>
      <if test="record.workflowName != null" >
        workflow_name = #{record.workflowName,jdbcType=VARCHAR},
      </if>
      <if test="record.workflowCode != null" >
        workflow_code = #{record.workflowCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cronExpression != null" >
        cron_expression = #{record.cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.creationDate != null" >
        creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateDate != null" >
        last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdBy != null" >
        created_by = #{record.createdBy,jdbcType=BIGINT},
      </if>
      <if test="record.lastUpdatedBy != null" >
        last_updated_by = #{record.lastUpdatedBy,jdbcType=BIGINT},
      </if>
      <if test="record.objectVersionNumber != null" >
        object_version_number = #{record.objectVersionNumber,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update workflow_schedule
    set schedule_id = #{record.scheduleId,jdbcType=BIGINT},
      workflow_id = #{record.workflowId,jdbcType=BIGINT},
      workflow_name = #{record.workflowName,jdbcType=VARCHAR},
      workflow_code = #{record.workflowCode,jdbcType=VARCHAR},
      cron_expression = #{record.cronExpression,jdbcType=VARCHAR},
      creation_date = #{record.creationDate,jdbcType=TIMESTAMP},
      last_update_date = #{record.lastUpdateDate,jdbcType=TIMESTAMP},
      created_by = #{record.createdBy,jdbcType=BIGINT},
      last_updated_by = #{record.lastUpdatedBy,jdbcType=BIGINT},
      object_version_number = #{record.objectVersionNumber,jdbcType=BIGINT},
      tenant_id = #{record.tenantId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hand.along.dispatch.master.domain.WorkflowSchedule" >
    update workflow_schedule
    <set >
      <if test="workflowId != null" >
        workflow_id = #{workflowId,jdbcType=BIGINT},
      </if>
      <if test="workflowName != null" >
        workflow_name = #{workflowName,jdbcType=VARCHAR},
      </if>
      <if test="workflowCode != null" >
        workflow_code = #{workflowCode,jdbcType=VARCHAR},
      </if>
      <if test="cronExpression != null" >
        cron_expression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null" >
        creation_date = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=BIGINT},
      </if>
      <if test="objectVersionNumber != null" >
        object_version_number = #{objectVersionNumber,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        tenant_id = #{tenantId,jdbcType=BIGINT},
      </if>
    </set>
    where schedule_id = #{scheduleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hand.along.dispatch.master.domain.WorkflowSchedule" >
    update workflow_schedule
    set workflow_id = #{workflowId,jdbcType=BIGINT},
      workflow_name = #{workflowName,jdbcType=VARCHAR},
      workflow_code = #{workflowCode,jdbcType=VARCHAR},
      cron_expression = #{cronExpression,jdbcType=VARCHAR},
      creation_date = #{creationDate,jdbcType=TIMESTAMP},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=BIGINT},
      last_updated_by = #{lastUpdatedBy,jdbcType=BIGINT},
      object_version_number = #{objectVersionNumber,jdbcType=BIGINT},
      tenant_id = #{tenantId,jdbcType=BIGINT}
    where schedule_id = #{scheduleId,jdbcType=BIGINT}
  </update>
</mapper>